/* styling for layout */
body {
  --text-color: black;
  --bg-color: white;
}

body.dark-mode {
  --text-color: white;
  --bg-color: rgb(42, 46, 53);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  min-height: 100vh;
  font-family: roboto, sans-serif;
}

nav {
  --nav-bg-color: rgb(248, 248, 248);
}

nav.dark-mode {
  --nav-bg-color: rgb(18, 24, 27);
}

nav {
  background-color: var(--nav-bg-color);
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.239);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.toggle_button {
  display: none;
}

.modes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  --side-bg-color: rgb(248, 248, 248);
}

.sidebar.dark-mode {
  --side-bg-color: rgb(18, 24, 27);
}

.sidebar {
  background-color: var(--side-bg-color);
  height: 150vh;
  float: left;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(37, 99, 235);
}

#content {
  float: right;
  width: 75%;
}

footer {
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer span {
  padding-right: 20px;
  font-style: italic;
  font-weight: 900;
}

.page {
  animation: slide-fade-in 0.5s ease-in-out forwards;
  padding-left: 50px;
}

/* global styles */
h1 {
  color: tomato;
  font-size: 2.5em;
}
h2 {
  font-size: 1.7em;
  width: 90%;
  overflow: auto;
}
h3 {
  color: #ff7f50;
}
p {
  font-size: 1.25em;
  line-height: 1.5em;
  width: 90%;
  text-align: justify;
}
a {
  text-decoration: none;
  color: #8a2be2;
}
.bold {
  font-weight: bold;
}
.text-left {
  text-align: left;
}
video {
  width: 90%;
  height: auto;
}
/* overwrite the default styling of mathjax */
.mjx-container {
  width: 100%;
}

/* media query for small screens */
@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .sidebar.open {
    display: flex;
    float: left;
    width: 25%;
    z-index: 2;
  }
  .toggle_button {
    display: block;
  }
  #content {
    width: 100%;
  }
  #content.open {
    float: right;
    width: 75%;
  }
}

@keyframes slide-fade-in {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
